snippet " "insert double quotes" i
"$1"$0
endsnippet

snippet ' "insert simple quotes" i
'$1'$0
endsnippet

snippet ( "insert parenthesis" i
($1)$0
endsnippet

snippet [ "insert angle brackets" i
[$1]$0
endsnippet

snippet ` "insert backticks" i
\`$1\`$0
endsnippet

