snippet log "logs a value"
console.log $1
endsnippet

snippet inspect "inspect an ember object"
console.log Ember.inspect($1)
endsnippet

snippet # "insert a string interpolation" !i
#{$1}
endsnippet
