snippet inspect "inspect an ember object"
console.log Ember.inspect($1)
endsnippet

snippet get "get('property');"
${1:@}get('${2:property}');
endsnippet

snippet set "set('property', value);"
${1:@}set('${2:property}', ${3:value});
endsnippet

snippet prop "insert an ember property" !b
${1:propertyName}: (->
  $3
).property(${2:'dependency'})
endsnippet

snippet obs "insert an ember observer" !b
${1:observerName}: (->
  $3
).observes(${2:'dependency'})
endsnippet

