snippet block "insert a block" b
<%= $1 do %>
  $0
<% end %>
endsnippet

snippet blockp "insert a block" b
<%= $1 do |$2| %>
  $0
<% end %>
endsnippet

snippet inspect "insert insepction log" i
Rails.logger.info %{
##########################################
#{$1${2:.ai}}$0
##########################################
}
endsnippet
