snippet csub "insert a subject line with a scope" b
${1:feat/fix/docs/style/refactor/test/chore}(${2:scope}): ${0:subject}

endsnippet

snippet sub "insert a subjec without a scope" b
${1:feat/fix/docs/style/refactor/test/chore}: ${0:subject}

endsnippet
