snippet # "insert an interpolation" !i
#{$1}
endsnippet

snippet lap "insert logging instruction" b
Rails.logger.ap($0)
endsnippet

snippet debug "insert binding.pry" !i
binding.pry
endsnippet

snippet inspect "insert insepction log" b
Rails.logger.info %{
##########################################
#{$1${2:.ai}}$0
##########################################
}
endsnippet
