.netrwhist
*.sw[a-z]
*.bak
.cache/*
bundle/.neobundle/*
bundle/AsyncCommand/*
bundle/NrrwRgn/*
bundle/UltiSnips/*
bundle/VB.NET-Syntax/*
bundle/Windows-PowerShell-Syntax-Plugin/*
bundle/ZoomWin/*
bundle/ack.vim/*
bundle/ctrlp.vim/*
bundle/cypher-vim-syntax/*
bundle/dash.vim/*
bundle/funcoo.vim/*
bundle/gundo.vim/*
bundle/jellybeans.vim/*
bundle/junkfile.vim/*
bundle/linediff.vim/*
bundle/molokai/*
bundle/mustache.vim/*
bundle/nerdtree/*
bundle/nuvola.vim/*
bundle/prolog.vim/*
bundle/supertab/*
bundle/tabular/*
bundle/tagbar/*
bundle/unite-colorscheme/*
bundle/unite-help/*
bundle/unite-outline/*
bundle/unite-tag/*
bundle/unite.vim/*
bundle/vim-bundler/*
bundle/vim-coffee-script/*
bundle/vim-colors-solarized/*
bundle/vim-colorschemes/*
bundle/vim-commentary/*
bundle/vim-csharp/*
bundle/vim-dispatch/*
bundle/vim-elixir/*
bundle/vim-emblem/*
bundle/vim-endwise/*
bundle/vim-eunuch/*
bundle/vim-fugitive/*
bundle/vim-haml/*
bundle/vim-indent-object/*
bundle/vim-irblack/*
bundle/vim-jade/*
bundle/vim-less/*
bundle/vim-mac-classic-theme/*
bundle/vim-markdown/*
bundle/vim-matchit/*
bundle/vim-pathogen/*
bundle/vim-powerline/*
bundle/vim-puppet/*
bundle/vim-rails/*
bundle/vim-railscasts/*
bundle/vim-rake/*
bundle/vim-repeat/*
bundle/vim-ruby/*
bundle/vim-sneak/*
bundle/vim-stylus/*
bundle/vim-surround/*
bundle/vim-tmux/*
bundle/vim-transpose/*
bundle/vim-unimpaired/*
bundle/vim-vroom/*
bundle/vim-wombat/*
bundle/vimproc/*
bundle/vimshell.vim/*
bundle/vimwiki/*
